AMQP_USER=guest
AMQP_PASS=guest
AMQP_HOST=localhost
AMQP_PORT=5672

ENGINE=django.db.backends.postgresql_psycopg2
DATABASE_NAME=campus
DATABASE_USER=postgres
DATABASE_PASSWORD=YUWhEcVX2hWsbs3twOoJ
DATABASE_HOST=cc-dev-postgresql.cvyt6tey0pvm.us-east-2.rds.amazonaws.com
DATABASE_PORT=5432
